[Unit]
Description=Run IRCdns service
Documentation=https://github.com/purpleidea/ircdns/
After=systemd-networkd.service
Requires=systemd-networkd.service

[Service]
ExecStart=/usr/local/bin/ircdns $OPTS
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
